@import '../../../styles.scss';

.accented-button{
    background-color: $accent;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
    transition: 0.4s ease;
    &:hover{
      background-color: #80cfd7; 
    }
}