@import '../../styles.scss';

.new-patient{
    display: flex;
    gap:20px;
    justify-content: center;
    .new-patient-container{
        width: 100%;
      header{
        background-color: white;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding: 20px 25px 20px 25px;
        display: flex;
        flex-direction: column;
        gap:25px;
        .action-container{
            display: flex;
            justify-content: center;
            input{
                width: 100%;
            }
        }
        }
        .doctors-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
            button{
                background-color: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:15px;
                padding: 15px 0px;
                transition: 0.4s ease;
                border:solid $white 1px; // This border will be changed after hover
                img{
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
                &:hover{
                    border:solid $accent 1px !important;
                }
            }
            .selected{
                border:solid $accent 1px !important; 
            }
        }  
        form{
            display: flex;
            flex-direction: column;
            gap:30px;
            padding: 20px;
            input{
                border-radius: 4px;
                border: 1px solid #E0E0E0;
                background-color: transparent;
                transition: 0.4s ease;
                &:hover{
                    border:solid $accent 1px;
                }
            }
            .warning{
                border:solid $warning 1px !important;
            }
            section{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                .span-2{
                    grid-column: span 2;
                }
            }
        }
    }
}

.proceed-bar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $accent;
        background: $white;
        color: $accent;
        transition: 1s ease;
        &:hover{
            background-color: #80cfd7;
            color: $white;
            transition: 0.4s ease !important;
        }
    }
    .line{
        width: 10px;
        height: 200px;
        background-color: $white;
        transition: 1s ease;
    }
    button,.line{
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.05);
    }
    .completed{
        background: $accent;
        color:$white;
    }
}


@media screen and (max-width:800px) {
    .doctors-grid{
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

@media screen and (max-width:600px) {
    .new-patient{
        flex-direction: column-reverse !important;
        background-color: $white;
    }
    .proceed-bar{
        flex-direction: row !important;
        margin-top: 25px !important;
        .line{
            width: 200px !important;
            height: 10px !important;   
        }
    }
    .doctors-grid{
        grid-template-columns: 1fr 1fr !important;
    }
}

@media screen and (max-width:500px) {
    form{
        section{
            grid-template-columns: 1fr !important;
            .span-2{
                grid-column: span 1 !important;
            }
        }
    }
}

@media screen and (max-width:435px) {
    .doctors-grid{
        grid-template-columns: 1fr !important;
    }
}